* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
  background-color: #fff8f3;
  /* position: relative; */
}

/* nav sidebar for laptop */
nav {
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #f7e7dc;

  align-items: center;
  font-family: "Poppins";
  /* margin-bottom: -48px; */
  padding: 10px 0;

  position: fixed;
  top: 0;
}
.magin-for-nav {
  margin-top: 130px;
}

.sidebar,
li {
  list-style: none;
  display: inline;
  gap: 20px;
}

.logo {
  color: #405d72;
  font-size: 2rem;
  text-transform: uppercase;
  justify-self: flex-start;

  flex: 1;
  padding-left: 50px;

  margin: auto;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.link-laptop ul,
li {
  display: inline;
}

.btn-laptop {
  display: block;
  margin: 20px;
  border: none;
  padding: 13px 25px;
  border-radius: 15px;
  background-color: #758694;
  border: 1px solid #fff8f3;
  color: #f7e7dc;
  font-family: "Poppins";
  font-size: 1em;
}
button:hover {
  background-color: #fff8f3;
  color: #758694;
  transition: all 200ms ease-in-out;
}

a {
  color: #758694;
}

.page-header {
  background-color: #fff8f3;

  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 100%;
  padding-top: 20px;
}

.profile {
  width: 100%;
  max-width: 980px;

  align-self: center;
}

/* set img to auto resize and fit in container */
.profile img {
  max-width: 100%;
  max-height: 100%;
  padding: -30px;
  object-fit: contain;
}

.h11 {
  display: block;
  font-size: 2.5rem;
  color: #405d72;
}
.h11 h1 {
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.more-info {
  font-size: 24px;
  margin-bottom: -50px;
  margin-top: 15px;
  letter-spacing: 1px;
  margin-left: 25px;
  margin-right: 25px;
}

/* sidebar for mobile */
.sidebar {
  display: none;
  backdrop-filter: blur(10px);

  width: 250px;
  flex-direction: column;
  /* set to stay still to the right and on top */
  position: fixed;
  top: 0;
  right: 0;
  /* stay all the top to buttom */
  min-height: 100vh;
  /* make everything stay on top of other */
  z-index: 999;
  background-color: white;
  justify-content: flex-start;
  align-content: flex-start;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sidebar li {
  margin: 0;
  padding-top: 8.5px;
  padding-left: 35px;
  width: 100%;
}

/* hide in laptop size */
.menu {
  display: none;
}

.m a {
  position: relative;
  padding-bottom: 0.75rem;
  padding: 0 10px;
}

.m a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #405d72;
  transform: all 0.3s ease;
}

.m a:hover::after {
  width: 95%;
}

.close-menu svg {
  margin-top: 20px;
}

.intro {
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro img {
  max-width: 100%;
  max-height: 25rem;
  margin-bottom: -7px;
  object-fit: contain;
}
.intro-info {
  background-color: #405d72;
  color: white;
  padding-top: 8rem;
  padding-bottom: 16rem;
}
.small-info {
  margin: 0 21rem;
}

.table-of-thing {
  display: flex;
  width: 100%;
  max-width: 90%;
  flex-direction: row;
  text-align: center;
  margin: auto;
}

.table {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.head-thing {
  font-weight: bold;
  padding: 19px 0;
}

@media only screen and (max-width: 780px) {
  body {
    min-height: 100vh;
  }

  nav {
    width: 100%;
  }

  .logo {
    font-size: 25px;
  }

  .profile {
    object-fit: contain;
  }

  .h11 {
    font-size: x-large;
  }
  .more-info {
    font-size: 20px;
    margin: 5px 25px;
  }
  .m {
    display: none;
  }
  .logo {
    margin-right: 100px;
  }

  /* hide button in laptop size and display in moblie size */
  .menu {
    display: block;
    margin-right: 20px;
  }
  .btn-mobile {
    width: 100%;
    max-width: 180px;
    padding: 8px 20px;

    display: flex;
    justify-self: center;
    align-self: center;

    border-radius: 15px;
    background-color: #758694;
    border: 1px solid #fff8f3;
    color: #f7e7dc;
    font-family: "Poppins";
    font-size: 1em;
    text-align: center;
  }
  .btn-mobile:hover {
    background-color: #f7e7dc;
  }
}

@media (max-width: 460px) {
  .page-header {
    font-size: 10px;
  }
}

/* ul {
  width: 100%px;
  height: 50px;
  display: flex;
  background-color: red;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
} */

/* li:nth-of-type(1) {
  justify-content: end;
} */

/* {
  width: 1200px;
  height: 100vh;
  background: linear-gradient(to right, blue 70%, yellow 30%);
} */
